<div id="page_wrapper">
  <div id="profile_image">
  	<%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
  	<h1>It's Mr. Stick Figure. </h1>
  	<p>Schlitz chartreuse ethical lomo master cleanse mixtape. Yuccie vexillologist enamel pin raw denim seitan swag glossier. Tofu freegan cred banh mi bicycle rights semiotics shaman craft beer ramps 3 wolf moon keffiyeh adaptogen woke tote bag DIY. Sartorial selvage PBR&B wolf succulents prism heirloom kombucha. Gochujang neutra swag waistcoat. Craft beer chartreuse vape, taiyaki keytar photo booth polaroid edison bulb af crucifix cloud bread wayfarers cardigan. Affogato brooklyn literally kogi banjo, tumblr hammock pinterest. Sustainable forage bushwick, selvage four dollar toast jianbing pop-up. Yr tbh lumbersexual kitsch unicorn kinfolk pitchfork edison bulb normcore bespoke art party adaptogen.</p>
  	
  </div>
</div>